%h1 Articles
- if user_signed_in?
  - if current_user.has_role? :admin
    = link_to 'Créer un article', new_post_path, class: 'btn btn-small btn-primary text-white'
%br
%br

- @posts.each do |post|
  .card
    .card-header
      %h5.card-title= post.title
    .card-body
      = post.content.html_safe.first(275)
    .card-footer
      = link_to 'Consuler', post, class: 'btn btn-primary text-white'
      - if user_signed_in?
        - if current_user.has_role? :admin
          = link_to 'Modifier', edit_post_path(post), class: 'btn btn-secondary text-white'
          = link_to 'Supprimer', post, class: 'btn btn-danger text-white', method: :delete, 'data-confirm': 'Êtes-vous sur de vouloir supprimer cet article?'
  %br




