<!DOCTYPE html>
<html>
  <head>
    <title>Minebix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- TinyMCE integration -->
    <script src="https://cdn.tiny.cloud/1/1l3267mr87z3k2bm8corrkk720xv2j0j5mp6jaz42mjxns15/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
      selector: '.tinymce',
      height: 500,
      menubar: false,
      plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
      ],
          toolbar: 'undo redo | formatselect | ' +
          ' bold italic backcolor | alignleft aligncenter ' +
          ' alignright alignjustify | bullist numlist outdent indent |' +
          ' removeformat | help'
      });
    </script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>">Minebix</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= posts_path %>">Nouveautés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Forums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Boutique</a>
          </li>
        </ul>
        <ul class="navbar-nav">

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Mon Profil', edit_user_registration_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Connexion", new_user_session_path, :class => 'nav-link'  %>
            </li>
            <li class="nav-item">
              <%= link_to "Inscription", new_user_registration_path, :class => 'nav-link'  %>
            </li>
            <% end %>
        </ul>
      </div>
    </nav>

    <br>
    <div class="container">
      <% if flash.any? %>
        <% if flash[:danger] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:danger] %>
          </div>
        <% elsif flash[:warning] %>
          <div class="alert alert-warning" role="alert">
            <%= flash[:warning] %>
          </div>
        <% elsif flash[:success] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:success] %>
          </div>
        <% end %>
      <% end %>

      <!-- TODO: Remove this section -->
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
